/* Styling for larger devices */
@media screen and (min-width: 1360px) {
  .logo {
    top: 100px;
    width: 500px;
  }

  body {
    width: 65%;
    margin: 0 auto;
    padding-top: 50px;
    border-radius: 30px;
  }

  .content {
    flex-direction: row;
  }

  .left {
    width: 500px;
  }

  .right {
    max-width: 60%;
    height: 100%;
  }
}

/* Style for Smaller devices */
@media screen and (max-width: 1360px) {
  .logo {
    width: 100%;
  }

  .right {
    position: relative;
    top: -100px;
    background-color: rgba(255, 255, 255, 0.96);
    margin: 16px;
    border-radius: 8px;
    padding: 8px;
  }
}

@font-face {
  font-family: tech-font;
  src: url(../font/techno_various-webfont.woff) format("woff"),
    url(../font/techno_various-webfont.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  /* border: 1px solid red; */
}

html {
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  gap: 8px;
  filter: invert(100%);
  position: absolute;
  background-color: rgba(255, 255, 255, 0.775);
  padding: 10px;
  text-shadow: 2px 2px white;
}

.background-img > img {
  width: 100%;
}

.logo > h1 {
  font-family: tech-font;
  font-size: 60px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* background-color: #00201e; */
}

main {
  display: flex;
  flex-direction: column;
}


.img-caption {
  position: absolute;
  bottom: 200px;
  margin: 0 auto;
}

.right {
  background-color: white;
}

.user-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  width: 80%;
}

.user-input > label {
  font-size: 12px;
}

.user-input > input {
  height: 32px;
  font-size: 16px;
  padding: 8px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

footer > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

footer > a > img {
  width: auto;
  height: 35px;
}
