/* Styling for larger devices */
@media only screen and (min-width: 700px) {

  .logo {
    top: 100px;
    max-width: 40%;
  }

  .background-img {
    max-width: 40%;
  }

}

@font-face {
  font-family: tech-font;
  src: url(../font/techno_various-webfont.woff) format("woff"),
    url(../font/techno_various-webfont.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  /* border: 1px solid red; */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  filter: invert(100%);
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.775);
  padding: 10px;
  text-shadow: 2px 2px white;
}

.background-img > img {
  width: 100%;
}


.logo > h1 {
  font-family: tech-font;
  font-size: 60px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

footer > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

footer > a > img {
  width: auto;
  height: 35px;
}


